html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
}

.top-navigation .content {
	height: 70px;
	width: 960px;
	margin: 0 auto;	
	padding: 0px 15px
}

.top-navigation .content .links {
	margin-top: 25px;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links .active {
	color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li {
	display: inline-block;
	float: left;
	margin-left: 25px;
}

.links li a {
	color: #4c5058;
	text-decoration: none;
}

.links li a:hover {
	color: black;
}

.links li a:focus {
	color: aqua;
}

.logo {
	height: 70px;
}

/* Banner */

.introduction {
	background-image: url("http://i1146.photobucket.com/albums/o539/e26dge/first-background_zpsj90ifd2m.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}


.banner {
	text-align: center; 
	color: #fff;
}

.introduction h1 {
	margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction p {
	margin-top: 1.25rem;
    font-size: 1.563rem;
}
#btn {
	background-color: orange;
	border-color: orange;
	text-align: center;
	padding: 1rem 1.5rem;
	border-radius: 4px;
	border-style: none;
	text-shadow: none;
	color: white;
	font-size: 1.125rem;
}


